body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 2em;
}

.profile-info p {
    margin: 10px 0;
    font-size: 1.2em;
}

.accomplishments, .tech-news, .blog-posts {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.accomplishments h2, .tech-news h1, .blog-posts h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.accomplishments ul, .tech-news ul, .blog-posts ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.accomplishments ul li, .tech-news ul li, .blog-posts ul li {
    margin: 10px 0;
}

.accomplishments ul li h3, .tech-news ul li h2, .blog-posts ul li h2 {
    margin: 0;
    font-size: 1.5em;
}

.tech-news article, .blog-posts article {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

footer a {
    color: white;
}

@media (max-width: 800px) {
    .profile-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .accomplishments, .tech-news, .blog-posts {
        padding: 10px;
    }

    header, footer {
        padding: 10px;
    }
}
