{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>{{ profile.name }}</h1>
<p>{{ profile.bio }}</p>
<img src="{{ url_for('static', filename='images/Abiola.jpeg') }}" alt="Profile Picture" style="width:200px;height:200px;border-radius:50%;">
<ul>
    <li>Email: <a href="{{ profile.email }}">{{ profile.email }}</a></li>
    <li><a href="{{ profile.linkedin }}">LinkedIn</a></li>
    <li><a href="{{ profile.github }}">GitHub</a></li>
    <li><a href="{{ url_for('static', filename='css/Docs/resume.docx') }}" target="_blank">Resume</a></li>
    <li><a href="{{ url_for('static', filename='css/Docs/Profile.pdf') }}" target="_blank">Profile</a></li>


</ul>
<h2>Accomplishments</h2>
<ul>
    {% for accomplishment in accomplishments %}
        <li>
            <h3>{{ accomplishment.title }}</h3>
            <p>{{ accomplishment.description }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
